<li>
    <p>{% for charity in charities %}
            {% if donation.charity|string() == charity._id|string() %}
                <a href='/charities/{{charity._id}}'> {{ charity.name }}</a>
            {% endif %}
        {% endfor %}</p>
        
    <span>{{ donation.amount }}</span>
    <span>{{ donation.date }}</span>
    <p><form method='POST' action='/users/donations/{{ donation._id }}'>
        <input type='hidden' value='{{ user._id }}' name='user_id'/>
        <button class='btn btn-primary' type='submit'>Delete</button>
    </form></p>
</li>
