{% extends 'base.html' %}

{% block content %}
<a href='/'>Back to Home</a>
<h1>{{ user.username }}</h1>
<h2>{{ user.fullname }}</h2>


<p>
    <form method='POST' action='/users/{{ user._id }}/delete'>
        <button class='btn btn-primary' type='submit'>Delete User</button>
    </form>
</p>


<div>
    <div class='row mb-3 mt-4'>
        <div class='col-4'>Charity Name</div>
        <div class='col-3'>Donation Amount</div>
        <div class='col-3'>Date</div>
    </div>
    {% for donation in donations %}
        {% include 'partials/donation.html' %}
    {% endfor %}
</div>

{% for donation in donations %}
<h1> hi</h1>
{% endfor %}


{% include 'partials/donation_form.html' %}

{% endblock %}
