{% extends 'base.html' %}

{% block content %}
    <h1>Donators' Profiles</h1>

    <p>Don't see your information? <a href='/users/new'>Sign Up Here</a></p>

    {% for user in users %}
        <h2><a href='/users/{{ user._id }}'>{{ user.username }}</a></h2>
        <small>{{ user.fullname }}</small>
    {% endfor %}


    <h1>Browse Charities </h1>
    {% for charity in charities %}
        <p><a href='/charities/{{charity._id}}'>{{charity.name}}</a> {{charity.rating}}</p>
    {% endfor %}

{% endblock %}
